{% extends "main_index.html" %}

{% block title %} Welcome {{username}}!!! {% endblock %}

{% block body %}
{% block gold %}{{gold}}{% endblock %}
<div class="general">
    <div class="container1">
        <h1 class="centered-message">Welcome {{username}} !!!</h1>

        <div class="row">
            <div class="col-12">
                <table class="table table-hover table-bordered table-custom">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">You</th>
                            <th scope="col">vs</th>
                            <th scope="col">Opponent</th>
                            <th scope="col">Time</th>
                            <th scope="col">Date</th>
                            <th scope="col">Result</th>
                            <th scope="col">Gold exchange</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for duel in duels %}
                        <tr class="{{ 'table-success' if duel.result == 'won' else 'table-danger' }}">
                            <td>You</td>
                            <td>vs</td>
                            <td>{{ duel.opponent }}</td>
                            <td>{{ duel.time}}</td>
                            <td>{{ duel.date}}</td>
                            <td>{{ duel.result }}</td>
                            <td>{{ duel.exchange }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}