{% extends "main.html" %}

{% block title %}Register Page{% endblock %}
{% block body %}
<div class="wrapper">
    <form action="/register" method="post">
        <h1>REGISTER</h1>
        <div class="input-box">
            <input type="text" name="username" placeholder="Username" required>
            <i class='bx bxs-user'></i>
        </div>
        <div class="input-box">
            <input type="password"name="password"  placeholder="Password"  required>
            <i class='bx bxs-lock-alt'></i>
        </div>
        <div class="input-box">
            <input type="password" name="confirmation" placeholder="Confirm Password"  required>
            <i class='bx bxs-lock-alt'></i>
        </div>
        <div class="input-box">
            <label><input type="checkbox" style="width: 15px; height: 15px;" name="terms"> Agree to Terms and Conditions</label>
        </div>
        <button type="submit" class="btn">Register</button>
    </form>
</div>
{% endblock %}
