{% extends "main_index.html" %}

{% block title %} TRADE HEROS {% endblock %}

{% block body %}
{% block gold %} {{gold}} {% endblock %}
<style>
    .trade-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
}

.trade-container > * {
  margin-bottom: 20px; 
}

.trade-form {
  width: 50%; 
  max-width: 400px; 
}
</style>
  <div class="trade-container">
    <div class="trade-offers">
      <h2>Trade Offers</h2>
      <form name="tradeaccept" method="post" action="/trade">
        <div class="trade-offers">
          {% for offer in trade_offers %}
          <div class="trade-offer">
            <p><strong>User: </strong>{{ offer.username }}</p>
            <p><strong>Hero Name: </strong>{{ offer.hero_name }}</p>
            <p><strong>Price: </strong>{{ offer.price }} Gold</p>
            <input type="hidden" name="hero_id" value="{{ offer.hero_id }}">
            <input type="hidden" name="user_id" value="{{ offer.user_id }}">
            <input type="hidden" name="gold" value="{{ offer.price }}">
            <button type="submit" name="action" value="accept_trade">Accept Trade</button>
          </div>
          {% endfor %}
        </div>
      </form>
    </div>
  
{% endblock %}
