{% extends "main_index.html" %}

{% block title %} Sell Items {% endblock %}

{% block body %}

<div class="general">
    <div class="container2">
            {% for item in items %}
                <div class="item">
                    <div class="item-details">
                        <span class="item-number">{{ loop.index }}</span>
                        <span class="item-attribute">Health: {{ item.health }}</span>
                        <span class="item-attribute">Attack: {{ item.attack }}</span>
                        <span class="item-attribute">Damage: {{ item.damage }}</span>
                        <span class="item-attribute">Armor: {{ item.armor }}</span>
                    </div>
                    <form action="/sell" method="post">
                        <input type="hidden" name="item_id" value="{{ item.itemid }}">
                        <button type="submit" class="sell-button">Sells for {{item.price}}</button>
                    </form>
                </div>
            {% endfor %}
    </div>
</div>
{% endblock %}
