{% extends "main_index.html" %}

{% block title %} SELL items {% endblock %}
{% block gold %} {{gold}} {% endblock %}
{% block body %}
<div class="general">
  <h1>SELL ITEMS HERE</h1>
  <div class="container2">
      <table class="item-table">
          <thead>
              <tr>
                  <th class="number">#</th>
                  <th class="item-attribute-head">Name</th>
                  <th class="item-attribute-head">Description</th>
                  <th class="item-attribute-head">Health</th>
                  <th class="item-attribute-head">Attack Speed</th>
                  <th class="item-attribute-head">Damage</th>
                  <th class="item-attribute-head">Armor</th>
                  <th class="item-action-head">Action</th>
              </tr>
          </thead>
          <tbody>
          {% for item in items %}
          <tr>
              <td class="number">{{ loop.index }}</td>
              <td class="item-attribute">{{ item.name }}</td>
              <td class="item-attribute">{{ item.description }}</td>
              <td class="item-attribute">{{ item.health }}</td>
              <td class="item-attribute">{{ item.attackspeed }}</td>
              <td class="item-attribute">{{ item.damage }}</td>
              <td class="item-attribute">{{ item.armor }}</td>
              <td class="item-action">
                  <form action="/sell" method="post">
                      <input type="hidden" name="item_id" value="{{ item.item_id }}">
                      <button type="submit" class="sell-button">SELL for {{item.cost}} ONLY</button>
                  </form>
              </td>
          </tr>
          {% endfor %}
          </tbody>
      </table>
  
{% endblock %}
