{% extends "main_index.html" %}

{% block title %} Your Warriors {% endblock %}

{% block body %}

<div class="general">
    <div class="container3">
        {% for hero in details %}
        <div class="hero-section">
            <div class="hero-name">{{ hero.heroname | capitalize }}:</div>
            {% for item in hero.warrior_items %}
            <div class="items">
                <span class="item-name">{{ item.details.itemname | capitalize }}</span>
                <span class="item-detail">Health: {{ item.details.health }}</span>
                <span class="item-detail">Attack: {{ item.details.attack }}</span>
                <span class="item-detail">Damage: {{ item.details.damage }}</span>
                <span class="item-detail">Armor: {{ item.details.armor }}</span>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
